body {
    background: #eee;
}
#principal {
    min-height: 100vh;
}
#banner {
    max-height: 200px;
    width: 100vw;
    margin: 0;
    padding: 0;
}
.card {
    width: 18rem;
    float: left;
    margin-right: 1em;
    margin-bottom: 10em;
    max-height: 300px;
    background-color: #eee;
    border: none;
}
.card-list {
    clear: both;
    padding-bottom: 100px;
}
.btn-add {
    float: right;
}

.card-body {
    padding-bottom: 50px;
}
